.navbar{
    background-color: gray;

    .navbar-brand{
        color: #fff;
    }
    
    .nav-link{
        color: #fff !important;
        margin-right: 20px;
    }
}
@media (max-width:570px){
    .navbar .nav-link{
        margin-right: 0;
    }
}
